.card{
  max-width: 45%;
  margin: auto;
}

.descriptionArea{
  width: 90%;
}

.images{
  display: flex;
}

.littleImage{
  max-width: 50px;
  height: auto;
}

.actionComment{
  display: flex;
  justify-content: flex-end;
}