<mat-card class="card">
  <mat-card-header>
      <mat-card-title id="title">Détail de l'utilisateur</mat-card-title>
      <mat-card-subtitle>{{ getUserFirstLastName() }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <form #userForm="ngForm" (submit)="onSubmit(userForm)">
        <mat-form-field apparence="outline" hintLabel="Max 25 characters">
          <mat-label>Nom d'utilisateur</mat-label>
          <input matInput #input placeholder="Utilisateur" type="text" maxlength="25" [(ngModel)]="receivedUser.name" name="name" required>
          <mat-hint align="end">{{ input.value.length || 0 }} /25</mat-hint>
        </mat-form-field>      
      </form>
  </mat-card-content>
</mat-card>