.card{
  max-width: 500px;
  margin: auto;
}
  
#title{
  margin: 12px 0;
}

mat-accordion {
  max-width: 500px;
  margin: auto;
}

.alignmentContainer{
  display: flex;
  justify-content: space-between;
}