#cardDisplay{
  max-width: 45%;
  margin: auto;
}
  
#title{
  margin: 12px 0;
}

mat-accordion {
  max-width: 45%;
  margin: auto;
}

.alignmentContainer{
  display: flex;
  justify-content: space-between;
}

mat-chip{
  font-size: 0.8em;
}

.mat-chip-list{
  margin: 4px;
  margin-right: 8px!important;
}

.chipGreen {
  background-color: green;
  color: white;
}

.issueTitle{
  margin-top: 10px;
}
