.cardLogin{
  height: max-content;
  width: max-content;
  margin: 20% auto;
}

.formInputs{
  display: block;
  margin: 12px auto;
}

.cardSignIn{
  height: max-content;
  width: max-content;
  margin: 20% auto;
}
