<p>dummy-page works!</p>
<hr>
<p>API -- User</p>
<button (click)="testGetUserList()">Get user list</button>
<button (click)="testCreateUser()">Create new user</button>
<button (click)="loadSingleUser()">Load single user</button>
<button (click)="updateUser()">Update user</button>
<hr>
<p>API -- Me</p>
<button (click)="loadMyInformations()">My Info</button>
<button (click)="loadMyIssues()">My Issues</button>
<hr>
<p>API -- Issues type</p>
<button (click)="loadIssueTypes()">Load all issue types</button>
<button (click)="createIssueType()">Create issue type</button>
<button (click)="loadSingleIssueType()">load single issue type</button>
<button (click)="updateIssueType()">Update issue type</button>
<button (click)="deleteIssueType()">Delete issue type</button>
<hr>
<p>API -- Issues</p>
<button (click)="loadAllIssues()">Load all issues</button>
<button (click)="createNewIssue()">Create new issue</button>
<button (click)="loadSpecificIssue()">Load specific issue</button>
<button (click)="updateIssue()">Update specific issue</button>
<button (click)="deleteIssue()">Delete specific issue</button>
<button (click)="loadIssueAction()">Load issue action</button>
<button (click)="createIssueAction()">Create issue action</button>
<button (click)="loadIssueComment()">Load issue comment</button>
<button (click)="createIssueComment()">Create issue comment</button>
<hr>
<p>Functions</p>
<app-logout-button></app-logout-button>
