.card{
  max-width: 500px;
  margin: auto;
}

.citizenIcon{
  color: #673ab7;
}

.staffIcon{
  color: coral;
}

.addUserIcon{
  color: #eeeeee;
}

.mat-card-header{
  justify-content: space-between;
}

.cardDescription{
  font-size: 0.8em;
  width: 30%;
}

.cardDescriptionLegend{
  margin: 0;
}

.mat-card-header-text{
  width: 70%;
}

#title{
  margin: 12px 0;
}

fa-icon{
  margin-right: 5px;
}

#userName{
  margin-right: 3px;
}

#addUser{
  background-color: green;
}
.cardFooter{
  display: flex;
  justify-content: space-between;
}
.footerLeft{
  padding-left: 16px;
}

.footerRight{
  width: 380px;
}