<mat-accordion>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title id="title">Liste des utilisateurs</mat-card-title>
      <div id="sortSelect">
        <mat-label>Tri :</mat-label>
        <mat-select id="selector" #selector (selectionChange)="changeSelectValue($event.value)">
          <mat-option>--</mat-option>
          <mat-option value="name">Utilisateur <fa-icon [icon]="faAngleUp"></fa-icon></mat-option>
          <mat-option value="-name">Utilisateur <fa-icon [icon]="faAngleDown"></fa-icon></mat-option>
          <mat-option value="firstname">Prénom <fa-icon [icon]="faAngleUp"></fa-icon></mat-option>
          <mat-option value="-firstname">Prénom <fa-icon [icon]="faAngleDown"></fa-icon></mat-option>
          <mat-option value="lastname">Nom <fa-icon [icon]="faAngleUp"></fa-icon></mat-option>
          <mat-option value="-lastname">Nom <fa-icon [icon]="faAngleDown"></fa-icon></mat-option>
          <mat-option value="phone">Téléphone <fa-icon [icon]="faAngleUp"></fa-icon></mat-option>
          <mat-option value="-phone">Téléphone <fa-icon [icon]="faAngleDown"></fa-icon></mat-option>
        </mat-select>  
      </div>
      <div class="cardDescription">
        <p class="cardDescriptionLegend">
          <fa-icon class="citizenIcon" [icon]=faUser></fa-icon>
          <span>Citoyen</span>
        </p>
        <p class="cardDescriptionLegend">
          <fa-icon class="staffIcon" [icon]=faUser></fa-icon>
          <span>Staff</span>
        </p>
      </div>
    </mat-card-header>
    <mat-card-content *ngFor="let user of userList">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <fa-icon [ngClass]="getClassIcon(user)" [icon]="faUser"></fa-icon>
            <span id="userName">{{ getUserPresentation(user) }}</span><em>{{ getUserName(user) }}</em>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p><fa-icon [icon]="faPhoneAlt"></fa-icon>{{ getUserPhone(user) }}</p>
        <mat-action-row>
          <button mat-raised-button (click)="jumpToUserEdition(user)"><fa-icon [icon]="faUserEdit"></fa-icon></button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-card-content>
    <mat-card-footer class="cardFooter">
      <div class="footerLeft">
        <button id="addUser" mat-raised-button><fa-icon class="addUserIcon" [icon]="faUserPlus"></fa-icon></button>
      </div>
      <div class="footerRight">
        <mat-paginator  [length]="paginationLocale.length"
                        [pageSize]="paginationLocale.pageSize"
                        [pageSizeOptions]="[2, 5, 10, 20, 50]"></mat-paginator>
      </div>
    </mat-card-footer>
  </mat-card>
</mat-accordion>

